body{
    font-family: 'Open Sans', sans-serif;
    width: 960px;
    margin: 0 auto;

}
h1,h2,h3,h4,h5,h6{
    color: brown;
}
.imagenindex{
    float: left;
    margin: 5px;
}
.imagenroasting{
    float: right;
    margin: 5px;
}
.imagengrinding{
    float: right;
    margin: 5px;
}
header{
    background-image: url(./images/cafe-vamos-al-grano\ 2.jpg);
    padding-bottom: 10px;
    height: 100px;
    width: 960px;
}
header h1{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 50px;
    color: rgba(255,255,255,.8);
}
footer nav{
    padding-left: 150px;
    display: inline;
}


nav ul{
    list-style-type:none;
    padding: 0%;   
}
nav li{
    
    display: inline;
    font-size: 20px;
    float: left;
    
    
    
}
nav .navegador1 a:link, a:visited{
    background-color: brown;
    color: white;
    width: 160px;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px 0;
    
}
nav .navegador1 a:hover{
    background-color: black;
    
}
nav .navegador2 a:link, .navegador2 a:visited{
    color:rgb(189, 187, 187);
    text-decoration: none;
    display: block;
    width: 160px;
    text-align: center;
    
    
}
nav .navegador2 a:hover{
    color: black;
}
a span{
    color: brown;
    text-decoration: none;
    font-weight: bold;
}
a span:hover{
    color: rgb(0, 0, 0);

}

.imagenescafe{
    list-style-image:url('./images/coffee-cup.png') ;
    color: brown;
}
.imagenescafe2{
    list-style-image:url('./images/coffee-cup.png') ;
    color:black;
}
.imagenescafe li a{
    color: brown;
    text-decoration: none;
}
.imagenescafe li a:hover{
    color: black;
}
.videodrinks{
    margin: 0 auto;
    text-align: center;  
}
h1.tituloroasting{
    margin-top: 50px;
}

aside blockquote{
    right: 380px;
    display: inline-block;
    height: 130px;
    width: 200px;
    background-color: rgb(204, 177, 128);
    border: 1px solid rgb(204,177,128);
    position:relative;
    padding: 50px 70px 90px 70px;
    text-align: center;
    margin-left: 1000px;
    margin-top: 100px;
    font-weight: bold;
    
}
.contenedor2{
    
    margin-left: 600px;
    display: inline-block;
    height: 550px;
    width: 200px;
    background-color: rgb(204, 177, 128);
    border: 1px solid rgb(204,177,128);
    position:relative;
    padding: 50px 70px 90px 70px;
    text-align: center;
    
    
}
.contenedor3{
    float: right;
    height: 130px;
    width: 200px;
    background-color: rgb(204, 177, 128);
    border: 1px solid rgb(204,177,128);
    position:relative;
    padding: 50px 70px 90px 70px;
    text-align: center;
    
}
section.block2{
    display: inline-block;
    width:60%;
    margin-top: -360px;
    
}
section.block3{
    display: inline-block;
    width: 60%;
    margin-top: -660px;
}

table, tr, th, td{
    border: 1px solid gray;
    border-collapse: collapse;
    margin: 0 auto;
    width: 900px;
    text-align: center;
    margin-top: 50px;
    padding: 3px;
}
